<!-- Masthead-->
<header class="masthead">
    <div class="container">
      <div class="masthead-heading text-uppercase">Risques et effets secondaires ?</div>
      <div class="masthead-subheading">Avantages & inconvénients du ballon gastrique</div>
    </div>
  </header>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-4">
          <img src="../../assets/images/benefice-risque-ballon-gastrique.jpg"/>
        </div>
        <div class="col-8">
          <h2 class="my-3">Risques potentiels du ballon gastrique, bénéfices, on vous dit tout !</h2>
          <h3 class="my-3">Le Ballon gastrique Allurion : une efficacité et une simplicité qui ont fait leur preuve</h3>
          <p class="text-muted">
            La mise en place du ballon gastrique Allurion s’effectue
            <strong>sans chirurgie, sans endoscopie et sans anesthésie</strong>.
            Il s’agit donc d’un traitement peu invasif pour le patient.
            Le ballon intragastrique avec ou sans endoscopie a déjà largement prouvé son efficacité
            dans la prise en charge du surpoids et de l’obésité. Le ballon Allurion s’adresse aux personnes
            ayant un IMC supérieur à 27 comme la plupart de ce type de dispositifs médicaux.
            <br><br>Par ses nombreuses qualités, il s’agit aujourd’hui d’
            <strong>une référence dans la prise en charge du surpoids et de l’obésité</strong>.
            Son procédé permet une pose et une dépose simple et rapide, il n’est pas traumatisant pour l’organisme,
            et représente une solution idéale pour les personnes non éligibles à la chirurgie bariatrique
            ou les personnes ne souhaitant pas de chirurgie. Sa mise en place ne nécessite pas d’hospitalisation,
            et reste également relativement accessible financièrement. Ce dispositif est
            <strong>totalement réversible</strong> et présente des <strong>risques limités</strong>
            en comparaison au by-pass ou la sleeve.
          </p>
          <h2 class="my-3">Effets secondaires potentiels du ballon gastrique</h2>
          <p class="text-muted">
            Simple et rapide, la mise en place du ballon gastrique allurion
            se fait très généralement sans problèmes particuliers. Et dans la majorité des cas,
            il est très bien acceptée par les patients. Il peut néanmoins présenter,
            dans de rares cas, certaines complications. Comme des ulcères gastriques,
            des reflux gastro-œsophagiens ou bien des érosions gastriques, des œsophagites
            et un dégonflage prématuré du ballon pouvant entraîner une occlusion intestinale.
            <br><br>Dans d’autres cas, les spécialistes ont relevé de mineures perforations gastriques,
            des dilatations oesophagiennes, des obstructions et des occlusions au niveau de l’intestin grêle...
          </p>
          <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  Quelle est l’étendue de l’utilisation du Ballon Allurion ?
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  Allurion est la marque <strong>leader dans le monde pour les ballons gastriques pour la perte de poids. </strong>
                  <br><br>
                  Le ballon Allurion a été placé plus de 50 000 fois dans le monde entier
                  et il s'agit du seul ballon ne nécessitant ni endoscopie ni anesthésie pour le placement ou le retrait.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                  Et si je n’arrive pas à avaler la capsule ?
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  Dans une étude clinique récente, 99,9 % des patients ont réussi à avaler le dispositif,
                  l’assistance d’un fil-guide n’ayant été nécessaire que pour 35,9 %.<sup>1.</sup>
                  <br><br><sup>1</sup><small>. Ienca et al. Obes Surg. 2020 Apr;30, 3354–3362</small>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                  Combien de temps le ballon restera-t-il dans mon estomac ?
                </button>
              </h2>
              <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  Environ 16 semaines. La valve d’évacuation du ballon videra
                  automatiquement le ballon après une durée déterminée.
                  Celui-ci sera ensuite éliminé naturellement lorsque vous irez aux toilettes.
                  <br><br>45% des patients n’ont pas remarqué l’élimination du ballon.
                </div>
              </div>
            </div>
  
          </div>
          <h3 class="my-3">Le Ballon gastrique Allurion : une efficacité et une simplicité qui ont fait leur preuve</h3>
          <p class="text-muted">Après la mise en place d’un ballon gastrique, les risques
          de complications graves restent faibles et le Programme Allurion propose un traitement du surpoids
          et de l’obésité bien plus sûr et réversible que les chirurgies « bariatrique » classiques.
          Nos professionnels restent à disposition du patient <strong>durant tout le programme</strong>
          pour anticiper et traiter au mieux tout effet secondaire.</p>
        </div>
      </div>
    </div>
  </section>
  