<!-- Masthead-->
  <app-header heading="Programme Allurion Antilles" subHeading="Bienvenue au Centre médical le Také Guadeloupe">
    <div class="col-lg-6 mx-auto">
      <div class="d-sm-flex gap-2 justify-content-sm-center align-items-center">
        <a class="btn btn-primary btn-xl text-uppercase">Prendre RDV</a>
        <h5>ou</h5>
        <h5>
          <span class="fas fa-phone-alt"></span>
          +33 6 90 97 68 08
        </h5>
      </div>
    </div>
  </app-header>
  <app-section>
    <div class="col-md-12">
      <app-rubrique h2="Traitement de l’obésité sans chirurgie" h3="Le ballon gastrique sans endoscopie & sans anesthésie">
        Véritable révolution dans l’univers de la diététique,
        le <strong>ballon gastrique Allurion</strong> est une solution pour traiter la surcharge pondérale&nbsp;:
        <strong>un ballon gastrique temporaire</strong>,
        ne nécessitant ni endoscopie, ni anesthésie, pour une perte de poids naturelle et sans contrainte.
        <br><br>Là où les régimes et l’exercice physique ont pu montrer leurs limites,
        la technologie de notre ballon gastrique associée à notre
        <strong>suivi personnalisé</strong>
        vous permettent de réaliser votre perte de poids dans les meilleures conditions, avec des résultats stables et pérennes.
      </app-rubrique>
    </div>   
  </app-section>
  <app-section>
    <div class="col-sm-6">
      <app-rubrique h3="Bénéficiez du programme Allurion">
        Pour bénéficier du programme Allurion, chaque patient doit être âgé d’au moins
        <strong>18 ans</strong>, avec une
        <strong>surcharge pondérale importante</strong>,
        présentant une obésité modérée à sévère, avec un indice de masse corporelle
        <strong>(IMC) ≥ à 27</strong>.
      </app-rubrique>
      <app-rubrique h3="Le programme minceur sur mesure">
        Afin de <a title="Accompagnement et suivi" href="/accompagnement"> vous accompagner dans votre perte de poids</a>,
        Allurion vous propose un programme nutritionnel personnalisé, encadré par des experts,
        diététiciens, kinésiologue, ortho-prothésiste, coach sportif adapté à votre morphologie et à votre rythme.
      </app-rubrique>
    </div>
    <div class="col-sm-6">
      <img src="../../assets/images/ballon-gastrique-allurion.jpg" class="img-fluid"/>
    </div>
  </app-section>
  <app-section>
    <div class="col-md-4">
      <app-suivi-card heading="Suivi médical" imgName="house">
        Centre de l’obésité et de la nutrition<br>de la Guadeloupe
      </app-suivi-card>
    </div>
    <div class="col-md-4">
      <app-suivi-card heading="Suivi diététique" imgName="leafe">
        Mettre en place une hygiène de vie<br>alimentaire pour une perte de poids durable
      </app-suivi-card>
    </div>
    <div class="col-md-4">
      <app-suivi-card heading="Suivi psychologique" imgName="mask">
        Répondre aux inquiétudes du patient<br>et identifier l'origine de la prise de poids
      </app-suivi-card>
    </div>
  </app-section>
  <app-section>
    <div class="col-md-4">
      <app-suivi-card heading="Suivi Morphologique" imgName="toy">
        Prise en charge morphologique et<br>mise en place de la ceinture de contention
      </app-suivi-card>
    </div>
    <div class="col-md-4">
      <app-suivi-card heading="Suivi sportif" imgName="feature-icon1">
        Identifier les comportements et débloquer<br>les schémas de fonctionnement du corps
      </app-suivi-card>
    </div>
    <div class="col-md-4">
      <app-suivi-card heading="Suivi psychologique" imgName="travel">
        Reprise de l'activité sportive pour<br>garantir une perte de poids durable
      </app-suivi-card>
    </div>
  </app-section>
  <app-section>
    <div class="col-md-6">
      <app-rubrique h2="Des questions sur le programme Allurion ?">
        En prévision d’une pose de ballon gastrique Allurion et en tant que futur patient,
        vos interrogations peuvent-être nombreuses. Nous vous apportons quelques réponses quant aux questions les plus fréquentes.
        Nos équipes restent à votre disposition pour toute question supplémentaire.
      </app-rubrique>
      <img src="../../assets/images/ballon-gastrique-centre-obesite.jpg" />
    </div>
    <div class="col-md-6">
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <app-accordion-item num="One" header="Quelle est l’étendue de l’utilisation du Ballon Allurion ?">
          Allurion est la marque <strong>leader dans le monde pour les ballons gastriques pour la perte de poids. </strong>
          <br><br>
          Le ballon Allurion a été placé plus de 50 000 fois dans le monde entier
          et il s'agit du seul ballon ne nécessitant ni endoscopie ni anesthésie pour le placement ou le retrait.
        </app-accordion-item>
        <app-accordion-item num="Two" header="Et si je n’arrive pas à avaler la capsule ?">
          Dans une étude clinique récente, 99,9 % des patients ont réussi à avaler le dispositif,
          l’assistance d’un fil-guide n’ayant été nécessaire que pour 35,9 %.<sup>1.</sup>
          <br><br><sup>1</sup><small>. Ienca et al. Obes Surg. 2020 Apr;30, 3354–3362</small>
        </app-accordion-item>
        
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              Combien de temps le ballon restera-t-il dans mon estomac ?
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              Environ 16 semaines. La valve d’évacuation du ballon videra
              automatiquement le ballon après une durée déterminée.
              Celui-ci sera ensuite éliminé naturellement lorsque vous irez aux toilettes.
              <br><br>45% des patients n’ont pas remarqué l’élimination du ballon.
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
              Quel poids pouvez-vous perdre ?
            </button>
          </h2>
          <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              10 - 15% du poids total est perdu en moyenne. Jusqu'à 95% de la perte de poids
              peut être maintenue un an après l’élimination du ballon.
              <br><br>Perdre seulement 5 % ou plus de votre poids total peut considérablement
              réduire votre risque de développer des complications liées à l’obésité comme le diabète et les maladies cardiaques.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingSix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
              Dois-je m’attendre à des effets secondaires ?
            </button>
          </h2>
          <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <ul>
                <li>Certaines personnes ressentent des nausées, des crampes abdominales et vomissent parfois après le placement du ballon.</li>
                <li>Les <a title="Effets secondaires ballon gastrique" href="/programme-allurion/risques-benefices">effets secondaires</a> se produisent généralement pendant la première semaine.</li>
                <li>La plupart des personnes peuvent reprendre leurs activités normales en quelques jours.</li>
                <li>Les symptômes peuvent être atténués avec des médicaments prescrits par votre médecin.</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingSeven">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
              Existe-t-il une garantie avec le Programme Allurion ?
            </button>
          </h2>
          <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <strong>Oui, la garantie Allurion Assurance Plus.</strong> <br><br>Allurion a conçu une garantie pour votre tranquillité d’esprit et votre satisfaction avec le Programme Allurion. La garantie Allurion Assurance Plus est gratuite pour tous les patients. <br><br><strong>Qu’est-ce qui est couvert ? </strong><br><br>
              <ul>
                <li>Le ballon durera au moins 90 jours avant d’être naturellement éliminé, ou il sera remplacé gratuitement.</li>
                <li>Remboursement des frais occasionnés par des événements rares.</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
              Où se faire poser un ballon gastrique aux Antilles ?
            </button>
          </h2>
          <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Au Centre de l’obésité et de la nutrition à La Seyne sur Mer près de Toulon dans le Var (83).</div>
          </div>
        </div>
      </div>
    </div>
  </app-section>
  <app-section>
    <app-rdv-demande></app-rdv-demande>  
  </app-section>
  
  