<!-- Masthead-->
<header class="masthead">
    <div class="container">
  
      <div class="masthead-heading text-uppercase">Programme minceur Allurion</div>
      <div class="masthead-subheading">Centre de l’obésité et de la nutrition du Také Guadeloupe</div>
      
    </div>
  </header>
  <section id="programme">
    <div class="container">
      <h2 class="my-3">Un ballon gastrique révolutionnaire</h2>
      <h3 class="my-3">Perdez du poids, retrouvez la satiété</h3>
      <p class="text-muted">
        Le <strong>Ballon Allurion</strong>
        est conçu pour remplir votre estomac, réduisant ainsi la sensation de faim.
        Un allié précieux dans votre quête de perte de poids,
        qui vous permet de manger moins et mieux,
        en adoptant des habitudes alimentaires plus saines et pérennes.
        <br><br>Le Programme Allurion prouve son efficacité chaque jour dans le monde entier.
        Vous pouvez dès à présent
        <a title="Docteur Avallone" href="/contact">consulter votre médecin</a>
        afin de débuter votre parcours de perte de poids.
      </p>
      <div class="row">
        <div class="col-md-8">
          <h3 class="my-3">Fonctionnement du ballon gastrique</h3>
          <p class="text-muted">
            Pour une perte de poids importante et surtout durable,
            <strong>l’efficacité des ballons gastriques surpasse n’importe quel régime alimentaire</strong>
            ou activité physique. <br><br>Leur mode de fonctionnement est simple.
            En occupant un certain volume dans l’estomac, ils réduisent le transit des aliments
            et la sensation de faim. Ce procédé évite les fringales survenant
            lors des régimes et permet d’installer des habitudes alimentaires plus saines et stables.
          </p>
          <h3 class="my-3">La perte de poids, c’est dès aujourd’hui avec le Programme Allurion</h3>
          <p class="text-muted">
            Véritable cœur du programme, le Ballon Allurion est conçu pour occuper
            de l’espace dans votre estomac afin de <strong>réduire votre sensation de faim</strong>.
            Dès lors, vous pouvez instinctivement <strong>adopter des habitudes alimentaires plus équilibrées</strong>,
            de façon durable. En parallèle, dans le cadre de votre programme, vous disposez d’une balance
            et d’une montre connectée, ainsi que d’<a title="Application programme Allurion" href="#application">une application</a>,
            qui vous permettront de suivre votre progression et d’entretenir votre motivation,
            en respectant ce nouveau mode de vie plus sain. <br><br>Pour être éligible au Programme Allurion,
            vous devez <strong>être âgé de plus de 18 ans, avec un indice de masse corporelle (IMC) ≥ 27</strong>.
          </p>
        </div>
        <div class="col-md-4">
          <img src="../../assets/images/illustration-homme-docteur.jpg" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="my-3">
            <iframe width="420" height="315"
                    src="https://www.youtube.com/embed/Lpoy5OrkqXk?iv_load_policy=3&rel=1">
            </iframe>
          </div>
        </div>
        <div class="col-md-6">
          <h3 class="my-3">Une perte de poids simplifiée</h3>
          <p class="text-muted">
            Par son action innovante, le <strong>Ballon Allurion</strong>
            révolutionne la perte de poids et ne nécessite <strong>aucune intervention chirurgicale</strong>,
            endoscopique, ni <strong>aucune anesthésie</strong>.
            Une consultation de 15 minutes avec l’un de nos spécialistes suffit pour le mettre en place,
            simplement en l’avalant. <br><br>Au bout de 16 semaines environ, le ballon se vide et est évacué
            naturellement par le tube digestif. Vous pouvez atteindre votre objectif de perte de poids plus
            simplement et accéder à un mode de vie plus sain de façon sereine et durable.
          </p>
        </div>
      </div>
      <div class="row">
        <h3 class="my-3">Avec vous à 100%</h3>
        <p class="text-muted">
          Le Programme Allurion, c’est également toute une
          <a title="Suivi médical" href="/accompagnement">équipe de professionnels de santé</a>
          prête à vous guider et vous soutenir dans votre projet de perte de poids. De plus,
          pour mesurer votre progression et rester motivé, le programme met à votre disposition une
          Balance Connectée Allurion, une Montre Connectée Allurion Health Tracker, ainsi qu’une
          <a title="Application programme Allurion" href="#application">application mobile</a>.
          Ces outils vous permettront de constater vos progrès jour après jour, mais aussi de les
          partager avec votre médecin traitant, votre famille et vos amis.
        </p>
        <h3 class="my-3">Vous avez des questions ? Nous y répondons !</h3>
        <p class="text-muted">
          Allurion, c’est le programme qui révolutionne la perte de poids.
          <br>Efficace, sûr et durable, il vous permet d’adopter les bonnes habitudes pour atteindre
          votre objectif de perte de poids et de le stabiliser.
        </p>
      </div>
      <div class="row">
        <div class="col-md-3">
          <img src="../../assets/images/illsutration-femme-mince.jpg" />
        </div>
        <div class="col-md-9">
          <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  Quelle est l’étendue de l’utilisation du Ballon Allurion ?
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  Allurion est la marque <strong>leader dans le monde pour les ballons gastriques pour la perte de poids. </strong>
                  <br><br>
                  Le ballon Allurion a été placé plus de 50 000 fois dans le monde entier
                  et il s'agit du seul ballon ne nécessitant ni endoscopie ni anesthésie pour le placement ou le retrait.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                  Et si je n’arrive pas à avaler la capsule ?
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  Dans une étude clinique récente, 99,9 % des patients ont réussi à avaler le dispositif,
                  l’assistance d’un fil-guide n’ayant été nécessaire que pour 35,9 %.<sup>1.</sup>
                  <br><br><sup>1</sup><small>. Ienca et al. Obes Surg. 2020 Apr;30, 3354–3362</small>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                  Combien de temps le ballon restera-t-il dans mon estomac ?
                </button>
              </h2>
              <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  Environ 16 semaines. La valve d’évacuation du ballon videra
                  automatiquement le ballon après une durée déterminée.
                  Celui-ci sera ensuite éliminé naturellement lorsque vous irez aux toilettes.
                  <br><br>45% des patients n’ont pas remarqué l’élimination du ballon.
                </div>
              </div>
            </div>
  
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                  Quel poids pouvez-vous perdre ?
                </button>
              </h2>
              <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  10 - 15% du poids total est perdu en moyenne. Jusqu'à 95% de la perte de poids
                  peut être maintenue un an après l’élimination du ballon.
                  <br><br>Perdre seulement 5 % ou plus de votre poids total peut considérablement
                  réduire votre risque de développer des complications liées à l’obésité comme le diabète et les maladies cardiaques.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingSix">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                  Dois-je m’attendre à des effets secondaires ?
                </button>
              </h2>
              <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  <ul>
                    <li>Certaines personnes ressentent des nausées, des crampes abdominales et vomissent parfois après le placement du ballon.</li>
                    <li>Les <a title="Effets secondaires ballon gastrique" href="/programme-allurion/risques-benefices">effets secondaires</a> se produisent généralement pendant la première semaine.</li>
                    <li>La plupart des personnes peuvent reprendre leurs activités normales en quelques jours.</li>
                    <li>Les symptômes peuvent être atténués avec des médicaments prescrits par votre médecin.</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingSeven">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                  Existe-t-il une garantie avec le Programme Allurion ?
                </button>
              </h2>
              <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  <strong>Oui, la garantie Allurion Assurance Plus.</strong> <br><br>Allurion a conçu une garantie pour votre tranquillité d’esprit et votre satisfaction avec le Programme Allurion. La garantie Allurion Assurance Plus est gratuite pour tous les patients. <br><br><strong>Qu’est-ce qui est couvert ? </strong><br><br>
                  <ul>
                    <li>Le ballon durera au moins 90 jours avant d’être naturellement éliminé, ou il sera remplacé gratuitement.</li>
                    <li>Remboursement des frais occasionnés par des événements rares.</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                  Où se faire poser un ballon gastrique aux Antilles ?
                </button>
              </h2>
              <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Au Centre de l’obésité et de la nutrition à La Seyne sur Mer près de Toulon dans le Var (83).</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3 class="my-3">Et si vous commenciez aujourd’hui ?</h3>
          <p class="text-muted">
            Le Programme Allurion se caractérise avant tout par son ballon gastrique.
            Révolutionnaire, il se révèlera être votre meilleur atout dans votre projet de perte de poids.
            <br><br>En parallèle, vous bénéficiez d’un suivi complet visant à vous faire adopter un mode de vie plus sain,
            grâce à un encadrement rigoureux et des outils numériques conçus pour la perte de poids.
            <br><br><a title="Docteur Avallone" href="/contact">Consulter votre médecin</a>
            dès à présent afin de débuter votre parcours de perte de poids.
          </p>
        </div>
      </div>
      <section class="page-section" id="about">
        <div class="container">
          <div class="text-center">
            <h2 class="section-heading text-uppercase">Etapes</h2>
            <h3 class="section-subheading text-muted">Programme Allurion.</h3>
          </div>
          <ul class="timeline">
            <li>
              <div class="timeline-image"><h4 class="rounded-circle img-fluid" title="Mois 1">Mois 1</h4></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="subheading">Changement des habitudes de vie</h4>
                </div>
                <div class="timeline-body"><p class="text-muted">Afin d’optimiser l’efficacité du Programme Allurion, notre équipe vous accompagne avec un programme nutritionnel et des activités physiques adaptés.</p></div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image"><h4 class="rounded-circle img-fluid" title="Mois 2 à 5">Mois 2 à 5</h4></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="subheading">La perte de poids</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">
                    La mise en place du Ballon Allurion se fait lors d’une simple consultation en ambulatoire.
                    Aucune chirurgie, endoscopie ou anesthésie n’est nécessaire.
                    <br><br>Ensuite, nos spécialistes vous accompagnent avec un suivi rigoureux
                    pour vous aider à mettre en place les habitudes de vie et alimentaires correspondant au programme.
                    <br><br>Vous pouvez suivre votre progression de perte de poids grâce à la Balance Connectée Allurion,
                    à la Montre Connectée Allurion Health Tracker, ainsi que l’application, que nous mettons à votre disposition
                    dans le cadre du programme. Ce dispositif vous permet de partager avec votre médecin votre progression
                    et profiter de ses conseils en temps réel. <br><br>Passé un délai d’environ 16 semaines,
                    le ballon se vide et est évacué naturellement par le tube digestif, sans aucune intervention pour son retrait.
                  </p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-image"><h4 class="rounded-circle img-fluid" title="Mois 6 et au-delà">Mois 6 et au-delà</h4></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="subheading">Perte du poids et stabilisation</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">
                    Le Ballon Allurion est temporaire, mais la perte de poids, elle, se veut durable.
                    Il a été prouvé par une étude clinique que la perte de poids moyenne suite au programme Allurion
                    a été maintenue après 1 an chez 95% des patients. <br><br>Après l’évacuation du ballon,
                    nos spécialistes continuent de vous accompagner et vous aident à adopter les nouvelles habitudes
                    alimentaires que vous devrez appliquer pour conserver le poids atteint.
                  </p>
                </div>
              </div>
            </li>
  
          </ul>
        </div>
      </section>
      <div class="row">
        <div class="col-12">
          <h3 class="my-3">Une application pour gérer votre programme de perte de poids Allurion</h3>
          <p class="text-muted">
            <strong>L'application Allurion</strong> se synchronise avec votre balance connectée
            et suit facilement votre poids, votre nombre de pas, votre sommeil et vos exercices.
            Grâce à l'application, vous partagez facilement vos données avec votre équipe de soins
            et pouvez participer à des appels vidéo.
          </p>
        </div>
      </div><div class="row">
        <div class="col-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="../../assets/images/balance-montre-allurion.jpg" alt="..." />
            <h4>Balance & montre connectée</h4>
            <p class="text-muted">Suivez en temps réel vos indicateurs de composition corporelle, votre poids et votre forme physique.</p>
          </div>
        </div>
        <div class="col-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="../../assets/images/fourchette-connecte-allurion.jpg" alt="..." />
            <h4>Fourchette connectée</h4>
            <p class="text-muted">La fourchette de slow contrôle vous permettra de ralentir la vitesse de vos repas et de perdre vos mauvais automatismes.</p>
          </div>
        </div>
        <div class="col-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="../../assets/images/equipement-sport.jpg" alt="..." />
            <h4>Activité physique</h4>
            <p class="text-muted">L'équipement fourni pour l'activité physique : élastique pour la gymnastique & sangle de suspension</p>
          </div>
        </div>
      </div>
      <app-rdv-demande></app-rdv-demande>
  
    </div>
  
  </section>
  